# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\theap\Desktop\ADIMAKER\2.3 ADI2\T3\projet c++ jeu de cartes\Poker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
